/*TIPO DE LETRA LINK*/
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
body {
    background: linear-gradient(#183994, #ced5d6);
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    color: black;
    height: 250vh;
}
main {
    margin: 20px auto;
    width: 380px;
}
main h1 {
    font-weight: 600;
    text-align: center;
    font-size: 53px;
    padding-bottom: 8px;
    border-bottom: 8px solid black;
    color: #e0dfdc;
            letter-spacing: .1em;
            text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
            color: #e0dfdc;
}
main nav.menu {
    list-style: none;
}
/*Style de las Casillas*/
main nav.menu li a:link,
main nav.menu li a:visited {
    background-color: rgba(17, 77, 146, 0.568);
    border: 5px solid black;
    border-radius: 0px 15px 30px 0px;
    display: block;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-indent: 48px;
    transition: all 0.3s ease-in;
    font-size: 1.2rem;
}
/*Cuadro de los Numero de las Casillas*/
main nav.menu li a span {
    background-color: #383646;
    border-radius: 30%;
    border: 5px solid black;
    font-weight: 600;
    font-size: 1.7rem;
    display: block;
    padding: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    line-height: 1.6rem;
    top: -15px; left: -25px;
    text-indent: 0px;
    color: #FFFFFF;
            text-shadow: 0 -1px 4px , 0 -2px 10px rgb(10, 217, 224), 0 -10px 20px #1714b9, 0 -18px 40px rgb(4, 0, 255);
            color: #FFFFFF;
}
main nav.menu li a:hover {
    color: #d7d9df;
    text-indent: 56px;
}
main nav.menu li a :hover span {
    background-color: aquamarine;
    color: #a31111;
    transform: rotate(360deg);
}