@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
body {
    background: linear-gradient(#183994, #ced5d6);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: rgb(27, 26, 26);
    margin: 0px;
    min-height: 100vh;
}
main {
    border-radius: 6px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}
main header h1 {
    border-radius: 6px;
    font-size: 40px;
    padding: 20px;
    position: relative;
    margin-top: 0;
    text-align: center;
    box-shadow: 0 -4px 24px rgb(217, 8, 224);
    background-color: #1a191a; 
    color: #e0dfdc;
            letter-spacing: .1em;
            text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
            color: #07d5e4;
}
main header h1 a:link,
main header h1 a:visited {
    text-decoration: none;
    display: block;
    position: absolute;
    transition: all 0.2 ease-in;
}
main header h1 a:hover {
    transform: translateX(-6px);
}
main section h2 {
    border-bottom: 4px solid rgb(20, 20, 20);
    font-size: 1.4rem;
    padding-bottom: 10px;
    text-align: center;
}